# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.cache
._config.yml


# Ruby / Bundler
.bundle/
vendor/

# OS-specific
.DS_Store
Thumbs.db
s
# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
