  <!-- Navbar -->
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{{ '/' | relative_url }}" class="logo-link">
      <img src="{{ '/assets/images/logo.jpeg' | relative_url }}" alt="SDPCC Logo" class="logo">
      <span class="site-name">Saskatoon Durga Puja</span>
    </a>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/gallery/' | relative_url }}">Gallery</a></li>
      <li><a href="{{ '/events/' | relative_url }}">Events</a></li>
      <li><a href="{{ '/announcements/' | relative_url }}">Announcements</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
    </ul>
  </nav>
</header>