<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Saskatoon Durga Puja Celebration Committee | SDPCC</title>
<meta name="description" content="Saskatoon Durga Puja Celebration Committee (SDPCC) - Celebrating Bengali culture and festivals in Saskatoon, Saskatchewan, Canada.">
<meta name="keywords" content="Durga Puja, Saskatoon, Bengali Community, SDPCC, Saraswati Puja, Bengali Festivals Canada, Kolkata Bengalis, Bengali Culture, Bengali Traditions, Saskatoon Events, Community Events, Cultural Events, Bengali Heritage, Bengali Arts, Bengali Music, Bengali Dance">
<meta name="author" content="SDPCC">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="Saskatoon Durga Puja Celebration Committee (SDPCC)">
<meta property="og:description" content="Durga Puja, bengali community, Kolkata Bengali people in Saskatoon Canada">
<meta property="og:image" content="assets/img/og-image.jpg">
<meta property="og:url" content="https://ezopinc.github.io/sdpcc/">
<meta property="og:type" content="website">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Saskatoon Durga Puja Celebration Committee (SDPCC)">
<meta name="twitter:description" content="CDurga Puja, bengali community, Kolkata Bengali people in Saskatoon Canada">
<meta name="twitter:image" content="assets/img/og-image.jpg">